

main{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 800px;
}

section{
    display: flex;
}

header {
    background-color: rgb(155, 150, 150);
    border-bottom: 15px solid rgb(35, 35, 35);
    border-radius: 20px 20px 0 0; 
    display: flex;
    justify-content: center;
}

header img{
    height: 100px;
    margin-top: 30px;
    width: 250px;
}

header section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h4{
    font-size: 23px;
    margin-left: 30px;
    margin-top: 70px;
}

header h1 {
    color: black;
    font-size: 70px;
    margin-left: 30px;
    margin-top: 30px;
    text-shadow:   
        5px 5px 0 rgb(208, 208, 208),   
        -5px -5px 0 rgb(208, 208, 208), 
        5px -5px 0 rgb(208, 208, 208),
        -5px 5px 0  rgb(208, 208, 208);
}

nav {
    align-items: center;
    background-color: rgb(229, 169, 17);
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);  
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav p {
    color: white;
    margin: 0;
}

footer {
    background-color: rgb(35, 35, 35);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);  
    color: white;
    padding: 15px;
    text-align: center;
}

footer p {
    margin: 4px;
}


aside{
    margin: 10px 10px 10px 0;
    padding: 10px;
    width: 350px;
}

.sect{
    background-color: rgb(155, 150, 150);
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);  
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
}

.sect h4{
    color: white;
    background-color: rgb(35, 35, 35);
    border-radius: 20px 20px 0 0;
    font-size: 15px;
    letter-spacing: 3px;
    margin: -10px;
    margin-bottom: auto;
    padding: 17px;
}

form{
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr;
    margin-top: 15px;
}

button{
    background-color: rgb(229, 169, 17);
    border: 1.9px solid;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    grid-column: 1 / span 2;
    margin: 0 auto;
    padding: 4px 15px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: white;
}

form input{
    border: 2px solid gray;
    border-radius: 0;
    padding: 5px;
}

.art{
    align-items: center;
    background-color: rgb(37, 36, 36);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: rgb(229, 169, 17);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.art a {
    border-bottom: 2px solid rgb(59, 59, 59);
    color: rgb(155, 150, 150);
    font-weight: 500;
    margin-top: 5px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
article .a{
    border: 0;
}

.art h5{
    background-color: rgb(20, 20, 20);
    font-style: italic;
    margin: -10px;
    margin-bottom: auto;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}

.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 10px 10px;

}

.sec .secti{
    margin: 0 0 5px 0;
}

.sec .secti1{
    margin: 5px 0 0 0;
}

.sec article {
    background: linear-gradient(white, rgb(116, 113, 113));
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 10px;
    max-height: 275px;
    padding: 10px;
}

.sec h5 {
    background-color: rgb(35, 35, 35);
    color: white;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    margin: -10px;
    margin-bottom: auto;
    padding: 17px;
    text-align: center;
}

.sec p{
    font-size: 12px;
    margin: 0;
}  

.sec div{
    display: flex;
    justify-content: center;
}

.sec img{
    height: 110px;
}

.sec .art1{
    border-radius: 20px 0 0 0 ;
}

.sec .art2{
    border-radius: 0 20px 0 0 ;
}

.sec .art3{
    border-radius: 0 0 0 20px  ;
}

.sec .art4{
    border-radius: 0 0 20px  0 ;
}
