body{
    background-color: lightgray;
}

aside{
    background-color: lightblue;
    border: 1px solid black;
}
@media (max-width: 500px ){
    body{
        background-color: rgba(101, 80, 119, 0.507);
    }
    aside{
        display: none;
    }
}

@media (max-width: 350px ){
    body{
        display: none;
    }
}